.cards{
    margin:20px;
    background-color: rgb(235, 235, 235);
    width:200px;
    height:300px;
    border-radius:5px;
    cursor: pointer;
    display:flex;
    flex-direction: column;
}

#MovieListCards {
    width:100%;
    height:100%;
    object-fit: contain;
}
